* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.blog-main{
  width: 960px;
  margin: 50px 10px;
}

.blog-item:nth-child(3n){
  width: 300px;
  height: 400px;
  float: left;
  border: 1px solid #dcdcdc;
}

.blog-item:nth-child(1){
  width: 300px;
  height: 400px;
  float: left;
  margin-right: 30px;
  border: 1px solid #dcdcdc;
}

.blog-item:nth-child(2){
  width: 300px;
  height: 400px;
  float: left;
  margin-right: 30px;
  border: 1px solid #dcdcdc;
}

.blog-item:nth-child(3){
}

.blog-img1{
  background-image: url(img/flow01.png);
  background-size: cover;
  width: 280px;
  height: 200px;
  margin: 10px 10px 10px 10px;
}

.blog-img2{
  background-image: url(img/flow02.png);
  background-size: cover;
  width: 280px;
  height: 200px;
  margin: 10px 10px 10px 10px;
}

.blog-img3{
  background-image: url(img/flow03.png);
  background-size: cover;
  width: 280px;
  height: 200px;
  margin: 10px 10px 10px 10px;
}

.blog-title{
  margin: 0 8px;
}

p{
  margin-top: 10px;
}

.box{
  position:absolute;
  background-color: orange;
  width: 50px;
  height: 30px;
  color: white;
  text-align: center;
  padding-top: 2px
}

@media screen and (max-width:768px) {
  .blog-main{
    width: 100%;
    height: 100%;
  }

  .blog-item:nth-child(3n){
    width: 90%;
    height: 90%;
    clear: both;
    margin: 0 0 50px 10px;
  }

  .blog-item:nth-child(1){
    width: 90%;
    height: 90%;
    clear: both;
    margin: 0 0 20px 10px;
  }

  .blog-item:nth-child(2){
    width: 90%;
    height: 90%;
    clear: both;
    margin: 0 0 20px 10px;
  }

  .blog-item:nth-child(3){
  }


  .blog-img1{
    background-size: cover;
    background-position: bottom;
    width: 95%;
  }
  .blog-img2{
    background-size: cover;
    background-position: bottom;
    width: 95%;
  }
  .blog-img3{
    background-size: cover;
    background-position: bottom;
    width: 95%;
  }

}